.main-focus{
    display: flex;
}

.image {
    width: 40%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 70px;
}



.info-container{
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.description {
    border: solid black 1px;
    overflow: auto;
    width: 65%;
    height: 300px;
}

.focus-title {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 30px;
    float: left;
}

.focus-categories {
    font-size: 15px;
}

.focus-categories-container{
    display: flex;
}

.focus-authors{
    display: flex;
    text-decoration-line :underline;
    opacity: 60%;
    margin: 15px 0px;
}

.back-button {
    background-color: lightcyan;
    background: 0;
    width: 250px;
    margin-top: 30px;
}

@Media (max-width : 856px){
    .main-focus{
        flex-direction: column;
        padding: auto;
        align-items: center;
        justify-content: center;
    }

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        padding: 10px;
    }

    .second-image-container {
        background-color: lightgray;
        width: 100%;
        padding: 10px;
    }

    .info-container{
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
        align-items: center;
    }
    
}

@Media (max-width : 525px){
    .description{
        width: 80%;
    }
}